html {
    background-color:rgb(100, 124, 230) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend Mega', sans-serif; 
    box-sizing: border-box; 
}
#pageContent {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#headerTitle {
    color: white;
    
}

.buttonStyle {
    border-color: transparent;
    border-style: solid;
    border-radius: 20px;
    padding: 12px;
    background: rgba(25, 88, 129, 0.692);
    transition-duration: 0.3s;
    box-sizing: border-box;
}

#startDiv:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.13);
}

#startDiv:active {
    transition-duration: 0.01s;
    transform: scale(90%);
}

.button {
    background-color: transparent;
    border-style: none;
    font-size: 50px;
    color: black;
    cursor: pointer;
}

.image {
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
    border: transparent;
    border-style: solid;
}

.image:hover {
    transform: scale(150%)
}

#scoreNumbers {
    display: flex;
    flex-direction: row;
    column-gap: 150px;
    align-items: center;
    justify-content: center;
}

.computerWeapon {
    border-top: rgb(130, 29, 177);
    border-top-style: solid;
    transition-duration: all 0.5s ease;
}

#compScoreText {
    color: rgb(130, 29, 177);
}

.playerWeapon {
    border-bottom: rgb(59, 165, 67);
    border-bottom-style: solid;
    transition-duration: all 0.5s ease;
}

#playerScoreText {
    color: rgb(59, 165, 67);
}

#endTextHolder {
    display: flex;
}

#endText {
    color: white;
    text-align: center;
    
}

#outcomeHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choiceText {
    text-align: left;
}

#roundPlayerChoice {
    color: rgb(59, 165, 67);
}

#roundComputerChoice {
    color: rgb(130, 29, 177);
}